$color--primary: #05f2db;
$color--secondary: #d93d04;
$color--background: #f2f2f2;

$font-body: "ivypresto-text", serif;
$font-heading: "minerva-modern", sans-serif;

// bootstrap theme colors
$theme-colors: (
  "primary": $color--primary,
  "secondary": $color--secondary,
  "dark": $color--secondary,
);

// colors
$body-bg: $color--background;

//typography
$font-family-base: $font-body;
$headings-font-family: $font-heading;

//cards
$card-height: 35rem;

@import "~bootstrap/scss/bootstrap";

// // partials

@import "./partials/layout";
@import "./partials/buttons";
@import "./partials/typography";
@import "./partials/card";
@import "./partials/footer";
// @import "./partials/links";
