.btns {
  display: flex;
}

.btn {
  cursor: pointer;
  background-color: $color--secondary;
  color: $color--background;
  border-radius: 4px;
  padding: 0.5rem 2rem;
  text-align: center;
  display: block;
  width: 45%;
  margin: 0.5em auto;
  text-transform: uppercase;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  &:hover {
    background-color: $color--background;
    border: 1px solid $color--secondary;
    color: #111;
  }
}

@media only screen and (max-width: 576px) {
  .btns {
    flex-direction: column;
  }
  .btn {
    width: 100%;
  }
}
