.main-header {
  text-align: center;
  background-color: $color--primary;
  padding: 2rem;
  font-size: 3rem;
}

.secondary-header {
  text-decoration: underline;
  margin-top: 1.5rem;
  font-weight: bold;
}
